h3 {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    padding: 5px;
}

.label {
    color: rgb(0, 255, 17);
}

title {
    color:blanchedalmond;
    background-color: black;
}

body {
    background-color: black;
}

li {
    font-size: 20px;
    font-family: Helvetica;
}

h1 {
    color: whitesmoke;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    font-size: 80px;
}

h3 {
    color:whitesmoke;
    font-weight: bold;
    font-family: Helvetica;
    font-size: 20px;
}

h4 {
    color: whitesmoke;
    font-family: Helvetica;
}

/* Form input type text is highlighted when selected all using CSS  */

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
  }
  
  input[type=text]:focus {
    background-color: lightblue;
  }

/*Scrollbar is custom and colored in black and grey */

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #999; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }